@import 'theme'

$border_style: solid #000
$color_link:  #0329c2c7

.about-style
  display: flex
  flex-direction: column
  flex-wrap: nowrap
  justify-content: space-around
  &_img
    width: 100%
    height: auto
    
h5>a
  text-decoration: none
  color:$color_link
  &:hover
    text-decoration: underline

.header-style
  width: 70%
  border-bottom: 3px $border_style
  line-height: 3rem

.mar_h3_h4_h5
  margin: .5rem 0 .5rem 2.5rem


h3+p
  margin: .5rem 0 .5rem 2.5rem

.description-style
  display: flex
  flex-direction: column
  justify-content: space-around
  &_comment
    width: 80%





        

